variables:
  PROJECT_PATH: "."  # Chemin du projet .NET à builder
  OUTPUT_PATH: "bin/Release/*.nupkg"  # Chemin de sortie du package NuGet
  NUGET_SOURCE: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/nuget/index.json"
  NUGET_NAME: "gitlab-ci"
  DOTNET_CONFIGURATION: "Release"  # Configuration par défaut pour build et pack
  NUGET_VERSION: "${CI_COMMIT_TAG}"  # Version par défaut basée sur le tag
  # windows
  DOTNET_CHANNEL: "8.0"

.deploy_nuget_template:
  stage: deploy
  script:
    # Ajout du source NuGet à partir de GitLab
    - dotnet nuget add source "$NUGET_SOURCE" --name "$NUGET_NAME" --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    # Build du projet
    - dotnet build "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION"
    # Pack du projet en NuGet
    - dotnet pack "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION" -p:Version="$NUGET_VERSION" --no-build
    # Push du package NuGet vers le dépôt GitLab NuGet
    - dotnet nuget push "$OUTPUT_PATH" --source "$NUGET_NAME"
  only:
    - tags

.deploy_nuget_windows_template:
  stage: deploy
  tags:
    - saas-windows-medium-amd64
  before_script:
    # Télécharger et installer la version spécifiée de .NET
    - Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile "dotnet-install.ps1"
    # Corrige les variables pour windows
    - ./dotnet-install.ps1 -Channel "$DOTNET_CHANNEL"
    - $OUTPUT_PATH = $OUTPUT_PATH -replace '/', '\'
    - $PROJECT_PATH = $PROJECT_PATH -replace '/', '\'
    - $FULL_OUTPUT_PATH = Join-Path -Path (Join-Path -Path $PWD.Path -ChildPath $PROJECT_PATH) -ChildPath $OUTPUT_PATH
  script:
    # Ajouter la source NuGet à partir de GitLab
    - dotnet nuget add source "$NUGET_SOURCE" --name "$NUGET_NAME" --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    # Build du projet
    - dotnet build "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION"
    # Pack du projet en NuGet
    - dotnet pack "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION" -p:Version="$NUGET_VERSION" --no-build
    # Se déplacer dans le répertoire de build et publier le package NuGet
    - dotnet nuget push "$FULL_OUTPUT_PATH" --source "$NUGET_NAME"
  only:
    - tags

#image: mcr.microsoft.com/dotnet/sdk:8.0
#include:
#  - project: 'bizouarn/ci'
#    ref: main
#    file: '/gitlab/template/nuget-deploy.gitlab-ci.yml'
#variables:
#  PROJECT_PATH: "src/MySpecificProject"  # Chemin spécifique à ton projet
#  OUTPUT_PATH: "artifacts"  # Répertoire de sortie personnalisé
#deploy:
#  extends: .deploy_template
#  script:
#    # Étape spécifique à ce projet (en plus du script du template)