variables:
  FF_USE_FASTZIP: "true"         # Active l'outil de compression rapide de GitLab
  ARTIFACT_COMPRESSION_LEVEL: "fastest" # Réduit le temps processeur pour le zip
  CACHE_COMPRESSION_LEVEL: "fastest"
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"
  DOTNET_NOLOGO: "true"
  PROJECT_PATH: "."  # Chemin du projet .NET à builder
  OUTPUT_PATH: "bin/Release/*.nupkg"  # Chemin de sortie du package NuGet
  NUGET_SOURCE: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/nuget/index.json"
  NUGET_NAME: "gitlab-ci"
  DOTNET_CONFIGURATION: "Release"  # Configuration par défaut pour build et pack
  NUGET_VERSION: "${CI_COMMIT_TAG}"  # Version par défaut basée sur le tag
  # windows
  DOTNET_CHANNEL: "8.0"

.deploy_nuget_template:
  stage: deploy
  script:
    # Création du nuget.config dans PROJECT_PATH si la variable existe
    - if [ -n "$NUGET_CONFIG" ]; then echo "$NUGET_CONFIG" | base64 -d > "$PROJECT_PATH/nuget.config"; fi
    # Ajout du source NuGet à partir de GitLab
    - dotnet nuget add source "$NUGET_SOURCE" --name "$NUGET_NAME" --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    # Build du projet
    - dotnet build "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION"
    # Pack du projet en NuGet
    - dotnet pack "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION" -p:Version="$NUGET_VERSION" --no-build
    # Push du package NuGet vers le dépôt GitLab NuGet
    - dotnet nuget push "$OUTPUT_PATH" --source "$NUGET_NAME"
  only:
    - tags

.deploy_nuget_windows_template:
  stage: deploy
  tags:
    - saas-windows-medium-amd64
  cache:
    key: "dotnet-sdk-$DOTNET_CHANNEL"
    paths:
      - .dotnet/
      - dotnet-install.ps1
  before_script:
    # Télécharger et installer la version spécifiée de .NET
    - if (!(Test-Path "dotnet-install.ps1")) { Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile "dotnet-install.ps1" }
    # Corrige les variables pour windows
    - $DOTNET_CHANNEL -split ";" | ForEach-Object { ./dotnet-install.ps1 -Channel $_ -InstallDir ".dotnet" }
    - $OUTPUT_PATH = $OUTPUT_PATH -replace '/', '\'
    - $PROJECT_PATH = $PROJECT_PATH -replace '/', '\'
    - $FULL_OUTPUT_PATH = Join-Path -Path (Join-Path -Path $PWD.Path -ChildPath $PROJECT_PATH) -ChildPath $OUTPUT_PATH
    # Création du nuget.config si la variable existe (PowerShell)
    - $CONFIG_FILE_PATH = Join-Path -Path $PROJECT_PATH -ChildPath "nuget.config"
    - if ($NUGET_CONFIG) { [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($NUGET_CONFIG)) | Out-File -FilePath $CONFIG_FILE_PATH -Encoding utf8 }
  script:
    # Ajouter la source NuGet à partir de GitLab
    - dotnet nuget add source "$NUGET_SOURCE" --name "$NUGET_NAME" --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    # Build du projet
    - dotnet build "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION"
    # Pack du projet en NuGet
    - dotnet pack "$PROJECT_PATH" --configuration "$DOTNET_CONFIGURATION" -p:Version="$NUGET_VERSION" --no-build
    # Se déplacer dans le répertoire de build et publier le package NuGet
    - dotnet nuget push "$FULL_OUTPUT_PATH" --source "$NUGET_NAME"
  only:
    - tags

#image: mcr.microsoft.com/dotnet/sdk:8.0
#include:
#  - project: 'bizouarn/ci'
#    ref: main
#    file: '/gitlab/template/nuget-deploy.gitlab-ci.yml'
#variables:
#  PROJECT_PATH: "src/MySpecificProject"  # Chemin spécifique à ton projet
#  OUTPUT_PATH: "artifacts"  # Répertoire de sortie personnalisé
#deploy:
#  extends: .deploy_template
#  script:
#    # Étape spécifique à ce projet (en plus du script du template)